<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="YtDlpFront.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="YtDlpFront.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <applicationSettings>
  <YtDlpFront.Properties.Settings>
   <setting name="Aria2Version" serializeAs="String">
    <value>1.36.0</value>
   </setting>
   <setting name="AppendSeconds" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="SubLangs" serializeAs="String">
    <value>all,-live_chat</value>
   </setting>
   <setting name="EnableEmbedSubs" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WaitSeconds" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ConcurrentFragments" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="FileLogLevel" serializeAs="String">
    <value>1</value>
   </setting>
  </YtDlpFront.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <YtDlpFront.Properties.Settings>
   <setting name="YtDlpCheckTime" serializeAs="String">
    <value />
   </setting>
   <setting name="IsYtDlpChecked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormatSelection" serializeAs="String">
    <value>b/bv*+ba</value>
   </setting>
   <setting name="Browser" serializeAs="String">
    <value>chrome</value>
   </setting>
   <setting name="BrowserProfile" serializeAs="String">
    <value />
   </setting>
   <setting name="LoadCookiesFromBrowser" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DownloadFirstSplitLater" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeleteSourceFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableEmbedMetaData" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableLiveFromStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableWaitForVideo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableSplitChapters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseHardwareAcceleration" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HardwareAcceleratorType" serializeAs="String">
    <value />
   </setting>
   <setting name="DeviceIndex" serializeAs="String">
    <value>0</value>
   </setting>
  </YtDlpFront.Properties.Settings>
 </userSettings>
</configuration>